{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Profile for {{selecteduser.username}}
{% endblock %}
{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumotron-heading">
            {{selecteduser.username}}'s Profile
        </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if userprofile.picture %}
        <img src="{{MEDIA_URL}}{{userprofile.picture}}" width="300" height="300"
        alt="{{selecteduser.username}}'s profile image" />
        {% else %}
        <img src="https://lorempixel.com/64/64/people/" width="64" height="64"
        alt="{{selecteduser.username}}'s profile image" />
        {% endif %}
        <br />

        <div>
            {% if selecteduser == user %}
            <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Update" />
            </form>
            {% else %}
            <p>
                <strong>Website:</strong>
                <a href="{{ userprofile.website}}">{{userprofile.website}}</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}